<configuration>

    <appender name = "STOUT" class="ch.gos.logback.core.ConsoleAppender">
        <encoder>

        </encoder>
    </appender>
    <logger name="root" level="DEBUG"/>
    <logger name="net.serenitybdd" level="INFO"/>
    <logger name="net.thucydides" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>